.painter-tree {
  display: flex;
	flex-direction: column;

  box-sizing: border-box;
	height: 100%;
  padding: 0 10px;
	background: #f9f9f9;

	> .tree {
		flex: 1;
		overflow: scroll;
		margin-bottom: 10px;
		.el-tree-node__content {
			position: relative;
		}
	}
}
