.component-editor-input {
    .separator {
        margin: 0 10px;
    }
    .fixed-autosize-setting-box {
        display: inline-block;
        .el-input-number {
            vertical-align: bottom;
        }
    }
    .input-length-setting-box,
    .limit-autosize-setting-box {
        .el-input-number {
            vertical-align: middle;
        }
    }
}
