<section class="component-editor component-editor-input">
	<h4>输入框</h4>
	<div class="component-editor-context">
		<el-form ref="form" :model="form" label-position="top">

			<template v-for="(attr,key) in form">
				<!--普通输入框-->
				<!--||(attr.type==='String'&&!attr.editor)-->
				<el-form-item v-if="attr.editor==='INPUT'" :label="attr.title" :required="attr.required">
					<el-input v-model="attr.value" :placeholder="attr.placeholder"></el-input>
				</el-form-item>

				<!--下拉框-->
				<el-form-item v-if="attr.editor==='SELECT'" :label="attr.title" :required="attr.required">
					<el-select v-model="attr.value" :placeholder="attr.placeholder">
						<template v-for="opt in attr.options">
							<el-option :label="opt.name" :value="opt.value"></el-option>
						</template>
					</el-select>
				</el-form-item>

				<!--函数输入框-->
				<el-form-item v-if="attr.editor==='TEXTAREA'" :label="attr.title" :required="attr.required">
					<el-input v-model="attr.value" :placeholder="attr.placeholder" type="textarea" :autosize="attr.autosize"></el-input>
				</el-form-item>
			</template>
		</el-form>
	</div>
</section>
